body {
    height: 100vh;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
#se {
    border: 0;
    border-bottom: 3px solid #8a8a8a;
    border-radius: 3px;
    padding: 0 5px;
    /* width: 300px; */
    height: 50px;
    color: #333;
    font-size: 40px;
    font-weight: 700;
    /* -webkit-text-stroke: 1px #333; */
    text-align: center;
    background-color: #fafafa;
}