/* ==================== variable ==================== */
$main_color: #fee573;
$font_color: #8a8a8a;

$width: (
	desktop: 1920px,
	tablet: 600px,
	phone: 360px,
);

@mixin flex_type($type) {
	display: flex;
	justify-content: $type;
}

@keyframes show_right {
    0% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@keyframes hide_right {
    0% {
        left: 0%;
        opacity: 1;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}
@keyframes show_left {
    0% {
        left: -100%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@keyframes hide_left {
    0% {
        left: 0%;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}


/* ==================== initialize ==================== */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: $font_color;
	text-shadow: 1px 1px 3px $font_color;
}
body {
	background-color: #fafafa;
}
li {
	list-style: none;
}

/* ==================== desktops ==================== */
.App {
	@include flex_type(center);
	flex-direction: column;
	align-items: center;

	height: 100vh;
	header {
		@include flex_type(center);
		align-items: center;

		width: 100%;
		height: 50px;
		margin: 50px 0;
		h1 {
			font-size: 40px;
		}
		select {
			border: 0;
			border-radius: 2px;
			margin-left: 20px;

			height: 40px;
			font-size: 34px;
			cursor: pointer;
			background-color: #fafafa;
			&:hover {
				border-bottom: 2px solid $font_color;
			}
		}
	}

	.weather__container{
		@include flex_type(center);
		align-items: center;
		margin: 30px 0;

		.weather{
			display: none;
		}
		.weather__init {
			@include flex_type(center);
			flex-direction: column;
			margin: 0 30px;
		}
		.weather__right{
			animation-name: hide_right;
			animation-duration: .5s;
		}
		.weather__left{
			animation-name: hide_left;
			animation-duration: .5s;
		}
		.weather__pic{
			display: flex;
			align-items: center;
			img{
				width: 100px;
				height: 100px;
				object-fit: cover;
			}
		}
	}

	.switch-day{
		@include flex_type(space-between);
		margin: 30px 0;
		width: 500px;
		li {
			@include flex_type(center);
			align-items: center;
			width: 50px;
			height: 50px;
			cursor: pointer;
			&:hover {
				border-radius: 25px;
				background-color: #fee573;
				// border: 1px solid #333;
			}	
		}
		.choose {
			border-radius: 25px;
			background-color: #fee573;
		}
	}

	.FC-switch{
		display: flex;
		width: 100%;
		margin-top: 50px;
		justify-content: center;
		align-items: center;
		height: 100px;
		.F-btn{
			margin-right: 30px;
			background: linear-gradient(to right, #4568dc, #b06ab3);
			color: #fff;
			width: 100px;
			text-align: center;
			line-height: 50px;
			box-shadow: 0 9px #999;
			border-radius: 5px;
			border: none;
			cursor: pointer;
			outline: none;
			&:hover{background: linear-gradient(to LEFT, #9cecfb, #65c7f7, #0052d4);};
			.F-btn:active{
				background: linear-gradient(to LEFT, #4568dc, #b06ab3);
				box-shadow: 0 5px #666;
				transform: translateY(4px);
			}
		}
		.C-btn{
			margin-left: 30px;
			background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
			color: #fff;
			width: 100px;
			text-align: center;
			line-height: 50px;
			box-shadow: 0 9px #999;
			border-radius: 5px;
			border: none;
			cursor: pointer;
			outline: none;
			&:hover{background: linear-gradient(to LEFT, #4568dc, #b06ab3);}
			:active{
				background: linear-gradient(to LEFT, #9cecfb, #65c7f7, #0052d4);
				box-shadow: 0 5px #666;
				transform: translateY(4px);
			}
		}
	}
}
